---
import Kartelayout from '../layouts/Kartelayout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---


<Kartelayout title="Parkbank App">
	<Header
	title="Parkbank Finder"
	/>
	<div class="Container">
	<img class="Map" src="./Assets/Map.png">
	</div>
	<Footer/>
</Kartelayout>

<style>
	.Map {
	max-width: 100%; /* Stelle sicher, dass das Bild nicht breiter als sein Container ist */
 	max-height: 100%; /* Stelle sicher, dass das Bild nicht höher als sein Container ist */
	}

	.Container {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 40em; /* Beispielhöhe des Containers */
	}
</style>

