:root {

    /*COLOR*/
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );

    /*FONT STYLE*/
    --fontBig: 0.8rem

}
html {
    font-family: "articulat-cf", sans-serif;
    background: #2a5b90;
    background-size: 224px;
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

footer {
display: flex;
justify-content: center;
align-items: center;
height: 5em; 
background-color: white; 
color: black; 
position: fixed;
bottom: 0;
width: 100%;
border-top-left-radius: 10%;
border-top-right-radius: 10%;
}

header {
display: flex;
justify-content: start;
background-color: white;
padding: 2%;
font-size: var(--fontBig);
}

body {
margin: 0;
padding: 0;
}

