:root {

    /*COLOR*/
    --accent: #BE491E;
    --accent-light: #D4DD9A;
    --white: #FFFFFF;
    --gray-light: #F1F1F1;
    --gray-dark: #292929;
    --black: #000000;

    /*FONT STYLE*/
    --fontBig: 0.7rem
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    min-height: 100%;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

html {
    font-family: "articulat-cf", sans-serif;
    background: var(--gray-light);
    background-size: 224px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.3em;
    background-color: var(--white);
    color: var(--black);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 29px 29px 0px 0px;
    z-index: 10;
}

header {
    display: flex;
    justify-content: start;
    background-color: var(--white);
    padding: 1.9em;
    font-size: var(--fontBig);
    position: sticky;
    top: 0;
    z-index: 2;
}

.discover-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .7em;
}

.data-container{
    width: 90%;
    background-color: var(--white);
    border-radius: 16px;
    margin-bottom: 1rem;
    padding: .7em;
    position: relative;

    .icon-holder{
        display: flex;
        gap: 1em;
        position: absolute;
        bottom: .6em;
        right: 1em;
    }

    .rating-icons{
        display: flex;
        gap: .1em;
        margin-bottom: .6em;
    }

    .gab-big{
        gap: .7em
    }

    .discover-img-container{
        height: 8rem;
        overflow: hidden;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 1em;
        display: flex;
    }

    .discover-img{
        object-fit: cover;
        width: 100%;
    }
}

.leaflet-routing-alt  {
    display: none !important;
  }

.data-card-map{
    position: absolute;
    z-index: 2;
    bottom: 5em;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-top: 2em;
}

.d-flex{
    display: flex;
    gap: .4em;
    margin-bottom: .6em;
}
