:root {

    /*COLOR*/
    --accent: #BE491E;
    --accent-light: #D4DD9A;
    --white: #FFFFFF;
    --gray-light: #F1F1F1;
    --gray-dark: #292929;
    --black: #000000;

    /*FONT STYLE*/
    --fontBig: 0.8rem
}

html {
    font-family: "articulat-cf", sans-serif;
    background: var(--gray-light);
    background-size: 224px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    background-color: var(--white);
    color: var(--black);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

header {
    display: flex;
    justify-content: start;
    background-color: var(--white);
    padding: 2%;
    font-size: var(--fontBig);
}

body {
    margin: 0;
    padding: 0;
}