

<footer>
  <div class="footerIcon">
    <img src="../src/Assets/Map.svg" alt="Bild">
    <img src="../src/Assets/explore.svg" alt="Bild">
    <img src="../src/Assets/category.svg" alt="Bild">
    <img src="../src/Assets/save.svg" alt="Bild">

  </div>
</footer>


<style>
  .footerIcon {
    display: flex;
    gap: 5em;
  }
</style>
