<footer>
  <div class="footerIcon">
    <a href="/">
      <img src="./Assets/Map.svg" alt="Bild">
    </a>
    <a href="/explore">
      <img src="./Assets/explore.svg" alt="Bild">
    </a>
    
    <a href="/adding">
      <img src="./Assets/category.svg" alt="Bild">
    </a>
    
    <a href="/favourites">
      <img src="./Assets/save.svg" alt="Bild">
    </a>
    

  </div>
</footer>


<style>
  .footerIcon {
    display: flex;
    gap: 5em;
    outline: 2px solid transparent;
  }

  img{
    filter: brightness(0)
  }

</style>

