---
interface Props {
	title: string;
}

const {title} = Astro.props;
---

<html>
  <body>
    <header>
      <h1>{title}</h1>
      <!-- Hier kannst du weitere Header-Elemente hinzufügen -->
    </header>
  </body>
</html>