<div id="map"></div>

<tamplate map-data-card-template>
  <div class="data-container">
    <div>
      <span class="close-icon">x</span>
    </div>
    <div class="discover-img-container">
      <img src="Assets/missing-image.jpeg" alt="Beschnittenes Bild" class="discover-img" />
    </div>
    <div class="evaluation-container">
      <div class="rating-icons">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.738"
          height="17.008"
          viewBox="0 0 17.738 17.008"
        >
          <path
            id="star-sharp-svgrepo-com"
            d="M10.17,4.025c.2-.579.3-.869.451-.95a.435.435,0,0,1,.413,0c.149.08.25.37.451.95l1.332,3.831a.99.99,0,0,0,.138.309.435.435,0,0,0,.17.123.99.99,0,0,0,.336.035l4.055.083c.613.012.92.019,1.042.136a.435.435,0,0,1,.128.393c-.03.166-.275.352-.764.722l-3.232,2.45a.993.993,0,0,0-.251.226.436.436,0,0,0-.065.2.992.992,0,0,0,.07.331l1.174,3.882c.178.587.266.881.193,1.033a.435.435,0,0,1-.334.243c-.168.023-.419-.153-.923-.5L11.225,15.2a.994.994,0,0,0-.293-.169.435.435,0,0,0-.21,0,.994.994,0,0,0-.293.169L7.1,17.518c-.5.35-.755.526-.923.5a.435.435,0,0,1-.334-.243c-.073-.152.016-.446.193-1.033l1.174-3.882a.991.991,0,0,0,.07-.331.436.436,0,0,0-.065-.2.993.993,0,0,0-.251-.226L3.734,9.656C3.245,9.286,3,9.1,2.97,8.934A.435.435,0,0,1,3.1,8.541c.122-.117.429-.123,1.042-.136l4.055-.083a.991.991,0,0,0,.336-.035.435.435,0,0,0,.17-.123.991.991,0,0,0,.138-.309Z"
            transform="translate(-1.959 -2.011)"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            fill="none"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.738"
          height="17.008"
          viewBox="0 0 17.738 17.008"
        >
          <path
            id="star-sharp-svgrepo-com"
            d="M10.17,4.025c.2-.579.3-.869.451-.95a.435.435,0,0,1,.413,0c.149.08.25.37.451.95l1.332,3.831a.99.99,0,0,0,.138.309.435.435,0,0,0,.17.123.99.99,0,0,0,.336.035l4.055.083c.613.012.92.019,1.042.136a.435.435,0,0,1,.128.393c-.03.166-.275.352-.764.722l-3.232,2.45a.993.993,0,0,0-.251.226.436.436,0,0,0-.065.2.992.992,0,0,0,.07.331l1.174,3.882c.178.587.266.881.193,1.033a.435.435,0,0,1-.334.243c-.168.023-.419-.153-.923-.5L11.225,15.2a.994.994,0,0,0-.293-.169.435.435,0,0,0-.21,0,.994.994,0,0,0-.293.169L7.1,17.518c-.5.35-.755.526-.923.5a.435.435,0,0,1-.334-.243c-.073-.152.016-.446.193-1.033l1.174-3.882a.991.991,0,0,0,.07-.331.436.436,0,0,0-.065-.2.993.993,0,0,0-.251-.226L3.734,9.656C3.245,9.286,3,9.1,2.97,8.934A.435.435,0,0,1,3.1,8.541c.122-.117.429-.123,1.042-.136l4.055-.083a.991.991,0,0,0,.336-.035.435.435,0,0,0,.17-.123.991.991,0,0,0,.138-.309Z"
            transform="translate(-1.959 -2.011)"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            fill="none"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.738"
          height="17.008"
          viewBox="0 0 17.738 17.008"
        >
          <path
            id="star-sharp-svgrepo-com"
            d="M10.17,4.025c.2-.579.3-.869.451-.95a.435.435,0,0,1,.413,0c.149.08.25.37.451.95l1.332,3.831a.99.99,0,0,0,.138.309.435.435,0,0,0,.17.123.99.99,0,0,0,.336.035l4.055.083c.613.012.92.019,1.042.136a.435.435,0,0,1,.128.393c-.03.166-.275.352-.764.722l-3.232,2.45a.993.993,0,0,0-.251.226.436.436,0,0,0-.065.2.992.992,0,0,0,.07.331l1.174,3.882c.178.587.266.881.193,1.033a.435.435,0,0,1-.334.243c-.168.023-.419-.153-.923-.5L11.225,15.2a.994.994,0,0,0-.293-.169.435.435,0,0,0-.21,0,.994.994,0,0,0-.293.169L7.1,17.518c-.5.35-.755.526-.923.5a.435.435,0,0,1-.334-.243c-.073-.152.016-.446.193-1.033l1.174-3.882a.991.991,0,0,0,.07-.331.436.436,0,0,0-.065-.2.993.993,0,0,0-.251-.226L3.734,9.656C3.245,9.286,3,9.1,2.97,8.934A.435.435,0,0,1,3.1,8.541c.122-.117.429-.123,1.042-.136l4.055-.083a.991.991,0,0,0,.336-.035.435.435,0,0,0,.17-.123.991.991,0,0,0,.138-.309Z"
            transform="translate(-1.959 -2.011)"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            fill="none"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.738"
          height="17.008"
          viewBox="0 0 17.738 17.008"
        >
          <path
            id="star-sharp-svgrepo-com"
            d="M10.17,4.025c.2-.579.3-.869.451-.95a.435.435,0,0,1,.413,0c.149.08.25.37.451.95l1.332,3.831a.99.99,0,0,0,.138.309.435.435,0,0,0,.17.123.99.99,0,0,0,.336.035l4.055.083c.613.012.92.019,1.042.136a.435.435,0,0,1,.128.393c-.03.166-.275.352-.764.722l-3.232,2.45a.993.993,0,0,0-.251.226.436.436,0,0,0-.065.2.992.992,0,0,0,.07.331l1.174,3.882c.178.587.266.881.193,1.033a.435.435,0,0,1-.334.243c-.168.023-.419-.153-.923-.5L11.225,15.2a.994.994,0,0,0-.293-.169.435.435,0,0,0-.21,0,.994.994,0,0,0-.293.169L7.1,17.518c-.5.35-.755.526-.923.5a.435.435,0,0,1-.334-.243c-.073-.152.016-.446.193-1.033l1.174-3.882a.991.991,0,0,0,.07-.331.436.436,0,0,0-.065-.2.993.993,0,0,0-.251-.226L3.734,9.656C3.245,9.286,3,9.1,2.97,8.934A.435.435,0,0,1,3.1,8.541c.122-.117.429-.123,1.042-.136l4.055-.083a.991.991,0,0,0,.336-.035.435.435,0,0,0,.17-.123.991.991,0,0,0,.138-.309Z"
            transform="translate(-1.959 -2.011)"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            fill="none"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.738"
          height="17.008"
          viewBox="0 0 17.738 17.008"
        >
          <path
            id="star-sharp-svgrepo-com"
            d="M10.17,4.025c.2-.579.3-.869.451-.95a.435.435,0,0,1,.413,0c.149.08.25.37.451.95l1.332,3.831a.99.99,0,0,0,.138.309.435.435,0,0,0,.17.123.99.99,0,0,0,.336.035l4.055.083c.613.012.92.019,1.042.136a.435.435,0,0,1,.128.393c-.03.166-.275.352-.764.722l-3.232,2.45a.993.993,0,0,0-.251.226.436.436,0,0,0-.065.2.992.992,0,0,0,.07.331l1.174,3.882c.178.587.266.881.193,1.033a.435.435,0,0,1-.334.243c-.168.023-.419-.153-.923-.5L11.225,15.2a.994.994,0,0,0-.293-.169.435.435,0,0,0-.21,0,.994.994,0,0,0-.293.169L7.1,17.518c-.5.35-.755.526-.923.5a.435.435,0,0,1-.334-.243c-.073-.152.016-.446.193-1.033l1.174-3.882a.991.991,0,0,0,.07-.331.436.436,0,0,0-.065-.2.993.993,0,0,0-.251-.226L3.734,9.656C3.245,9.286,3,9.1,2.97,8.934A.435.435,0,0,1,3.1,8.541c.122-.117.429-.123,1.042-.136l4.055-.083a.991.991,0,0,0,.336-.035.435.435,0,0,0,.17-.123.991.991,0,0,0,.138-.309Z"
            transform="translate(-1.959 -2.011)"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            fill="none"></path>
        </svg>
      </div>
      <div class="rating-icons gab-big">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.001"
          height="18.394"
          viewBox="0 0 18.001 18.394"
        >
          <path
            id="image-svgrepo-com"
            d="M13.413,15l-2.87-4.066c-.457-.648-.686-.971-.967-1.081a1,1,0,0,0-.761.015c-.276.12-.492.453-.922,1.119L4.257,16.6a2.1,2.1,0,0,0-.177.3,1,1,0,0,0-.065.22A2.1,2.1,0,0,0,4,17.472V20H20V17.46a2.1,2.1,0,0,0-.014-.34,1,1,0,0,0-.062-.215,2.111,2.111,0,0,0-.169-.3l-.966-1.54c-.854-1.361-1.281-2.041-1.836-2.289a2,2,0,0,0-1.532-.042c-.567.217-1.031.874-1.957,2.186Zm0,0,3.542,5M20,6a2,2,0,1,1-2-2A2,2,0,0,1,20,6Z"
            transform="translate(-3 -3)"
            fill="none"
            stroke="#B1B1B1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.001"
          height="18.394"
          viewBox="0 0 18.001 18.394"
        >
          <path
            id="image-svgrepo-com"
            d="M13.413,15l-2.87-4.066c-.457-.648-.686-.971-.967-1.081a1,1,0,0,0-.761.015c-.276.12-.492.453-.922,1.119L4.257,16.6a2.1,2.1,0,0,0-.177.3,1,1,0,0,0-.065.22A2.1,2.1,0,0,0,4,17.472V20H20V17.46a2.1,2.1,0,0,0-.014-.34,1,1,0,0,0-.062-.215,2.111,2.111,0,0,0-.169-.3l-.966-1.54c-.854-1.361-1.281-2.041-1.836-2.289a2,2,0,0,0-1.532-.042c-.567.217-1.031.874-1.957,2.186Zm0,0,3.542,5M20,6a2,2,0,1,1-2-2A2,2,0,0,1,20,6Z"
            transform="translate(-3 -3)"
            fill="none"
            stroke="#B1B1B1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.001"
          height="18.394"
          viewBox="0 0 18.001 18.394"
        >
          <path
            id="image-svgrepo-com"
            d="M13.413,15l-2.87-4.066c-.457-.648-.686-.971-.967-1.081a1,1,0,0,0-.761.015c-.276.12-.492.453-.922,1.119L4.257,16.6a2.1,2.1,0,0,0-.177.3,1,1,0,0,0-.065.22A2.1,2.1,0,0,0,4,17.472V20H20V17.46a2.1,2.1,0,0,0-.014-.34,1,1,0,0,0-.062-.215,2.111,2.111,0,0,0-.169-.3l-.966-1.54c-.854-1.361-1.281-2.041-1.836-2.289a2,2,0,0,0-1.532-.042c-.567.217-1.031.874-1.957,2.186Zm0,0,3.542,5M20,6a2,2,0,1,1-2-2A2,2,0,0,1,20,6Z"
            transform="translate(-3 -3)"
            fill="none"
            stroke="#B1B1B1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.001"
          height="18.394"
          viewBox="0 0 18.001 18.394"
        >
          <path
            id="image-svgrepo-com"
            d="M13.413,15l-2.87-4.066c-.457-.648-.686-.971-.967-1.081a1,1,0,0,0-.761.015c-.276.12-.492.453-.922,1.119L4.257,16.6a2.1,2.1,0,0,0-.177.3,1,1,0,0,0-.065.22A2.1,2.1,0,0,0,4,17.472V20H20V17.46a2.1,2.1,0,0,0-.014-.34,1,1,0,0,0-.062-.215,2.111,2.111,0,0,0-.169-.3l-.966-1.54c-.854-1.361-1.281-2.041-1.836-2.289a2,2,0,0,0-1.532-.042c-.567.217-1.031.874-1.957,2.186Zm0,0,3.542,5M20,6a2,2,0,1,1-2-2A2,2,0,0,1,20,6Z"
            transform="translate(-3 -3)"
            fill="none"
            stroke="#B1B1B1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.001"
          height="18.394"
          viewBox="0 0 18.001 18.394"
        >
          <path
            id="image-svgrepo-com"
            d="M13.413,15l-2.87-4.066c-.457-.648-.686-.971-.967-1.081a1,1,0,0,0-.761.015c-.276.12-.492.453-.922,1.119L4.257,16.6a2.1,2.1,0,0,0-.177.3,1,1,0,0,0-.065.22A2.1,2.1,0,0,0,4,17.472V20H20V17.46a2.1,2.1,0,0,0-.014-.34,1,1,0,0,0-.062-.215,2.111,2.111,0,0,0-.169-.3l-.966-1.54c-.854-1.361-1.281-2.041-1.836-2.289a2,2,0,0,0-1.532-.042c-.567.217-1.031.874-1.957,2.186Zm0,0,3.542,5M20,6a2,2,0,1,1-2-2A2,2,0,0,1,20,6Z"
            transform="translate(-3 -3)"
            fill="none"
            stroke="#B1B1B1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"></path>
        </svg>
      </div>

      <div class="rating-icons gab-big">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.36"
          height="20.36"
          viewBox="0 0 20.36 20.36"
        >
          <path
            id="sparkle-bold-svgrepo-com"
            d="M27.086,14.248l-4.263-1.57-1.57-4.263a1.691,1.691,0,0,0-3.173,0l-1.571,4.263-4.263,1.57a1.691,1.691,0,0,0,0,3.173l4.263,1.571,1.57,4.263a1.691,1.691,0,0,0,3.173,0l1.57-4.263,4.263-1.57a1.691,1.691,0,0,0,0-3.173Zm-5.11,2.893a1.688,1.688,0,0,0-1,1h0l-1.307,3.548-1.307-3.548a1.688,1.688,0,0,0-1-1l-3.548-1.307,3.548-1.307a1.688,1.688,0,0,0,1-1l1.307-3.548,1.307,3.548a1.688,1.688,0,0,0,1,1l3.548,1.307Zm.058-10.1a1.014,1.014,0,0,1,1.014-1.014h1.014V5.014a1.014,1.014,0,1,1,2.029,0V6.029H27.1a1.014,1.014,0,0,1,0,2.029H26.091V9.072a1.014,1.014,0,0,1-2.029,0V8.057H23.047a1.014,1.014,0,0,1-1.014-1.014ZM31.5,11.1a1.014,1.014,0,0,1-1.014,1.014h-.338v.338a1.014,1.014,0,0,1-2.029,0v-.338h-.338a1.014,1.014,0,0,1,0-2.029h.338V9.748a1.014,1.014,0,0,1,2.029,0v.338h.338A1.014,1.014,0,0,1,31.5,11.1Z"
            transform="translate(-11.141 -4)"
            fill="#B1B1B1"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.36"
          height="20.36"
          viewBox="0 0 20.36 20.36"
        >
          <path
            id="sparkle-bold-svgrepo-com"
            d="M27.086,14.248l-4.263-1.57-1.57-4.263a1.691,1.691,0,0,0-3.173,0l-1.571,4.263-4.263,1.57a1.691,1.691,0,0,0,0,3.173l4.263,1.571,1.57,4.263a1.691,1.691,0,0,0,3.173,0l1.57-4.263,4.263-1.57a1.691,1.691,0,0,0,0-3.173Zm-5.11,2.893a1.688,1.688,0,0,0-1,1h0l-1.307,3.548-1.307-3.548a1.688,1.688,0,0,0-1-1l-3.548-1.307,3.548-1.307a1.688,1.688,0,0,0,1-1l1.307-3.548,1.307,3.548a1.688,1.688,0,0,0,1,1l3.548,1.307Zm.058-10.1a1.014,1.014,0,0,1,1.014-1.014h1.014V5.014a1.014,1.014,0,1,1,2.029,0V6.029H27.1a1.014,1.014,0,0,1,0,2.029H26.091V9.072a1.014,1.014,0,0,1-2.029,0V8.057H23.047a1.014,1.014,0,0,1-1.014-1.014ZM31.5,11.1a1.014,1.014,0,0,1-1.014,1.014h-.338v.338a1.014,1.014,0,0,1-2.029,0v-.338h-.338a1.014,1.014,0,0,1,0-2.029h.338V9.748a1.014,1.014,0,0,1,2.029,0v.338h.338A1.014,1.014,0,0,1,31.5,11.1Z"
            transform="translate(-11.141 -4)"
            fill="#B1B1B1"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.36"
          height="20.36"
          viewBox="0 0 20.36 20.36"
        >
          <path
            id="sparkle-bold-svgrepo-com"
            d="M27.086,14.248l-4.263-1.57-1.57-4.263a1.691,1.691,0,0,0-3.173,0l-1.571,4.263-4.263,1.57a1.691,1.691,0,0,0,0,3.173l4.263,1.571,1.57,4.263a1.691,1.691,0,0,0,3.173,0l1.57-4.263,4.263-1.57a1.691,1.691,0,0,0,0-3.173Zm-5.11,2.893a1.688,1.688,0,0,0-1,1h0l-1.307,3.548-1.307-3.548a1.688,1.688,0,0,0-1-1l-3.548-1.307,3.548-1.307a1.688,1.688,0,0,0,1-1l1.307-3.548,1.307,3.548a1.688,1.688,0,0,0,1,1l3.548,1.307Zm.058-10.1a1.014,1.014,0,0,1,1.014-1.014h1.014V5.014a1.014,1.014,0,1,1,2.029,0V6.029H27.1a1.014,1.014,0,0,1,0,2.029H26.091V9.072a1.014,1.014,0,0,1-2.029,0V8.057H23.047a1.014,1.014,0,0,1-1.014-1.014ZM31.5,11.1a1.014,1.014,0,0,1-1.014,1.014h-.338v.338a1.014,1.014,0,0,1-2.029,0v-.338h-.338a1.014,1.014,0,0,1,0-2.029h.338V9.748a1.014,1.014,0,0,1,2.029,0v.338h.338A1.014,1.014,0,0,1,31.5,11.1Z"
            transform="translate(-11.141 -4)"
            fill="#B1B1B1"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.36"
          height="20.36"
          viewBox="0 0 20.36 20.36"
        >
          <path
            id="sparkle-bold-svgrepo-com"
            d="M27.086,14.248l-4.263-1.57-1.57-4.263a1.691,1.691,0,0,0-3.173,0l-1.571,4.263-4.263,1.57a1.691,1.691,0,0,0,0,3.173l4.263,1.571,1.57,4.263a1.691,1.691,0,0,0,3.173,0l1.57-4.263,4.263-1.57a1.691,1.691,0,0,0,0-3.173Zm-5.11,2.893a1.688,1.688,0,0,0-1,1h0l-1.307,3.548-1.307-3.548a1.688,1.688,0,0,0-1-1l-3.548-1.307,3.548-1.307a1.688,1.688,0,0,0,1-1l1.307-3.548,1.307,3.548a1.688,1.688,0,0,0,1,1l3.548,1.307Zm.058-10.1a1.014,1.014,0,0,1,1.014-1.014h1.014V5.014a1.014,1.014,0,1,1,2.029,0V6.029H27.1a1.014,1.014,0,0,1,0,2.029H26.091V9.072a1.014,1.014,0,0,1-2.029,0V8.057H23.047a1.014,1.014,0,0,1-1.014-1.014ZM31.5,11.1a1.014,1.014,0,0,1-1.014,1.014h-.338v.338a1.014,1.014,0,0,1-2.029,0v-.338h-.338a1.014,1.014,0,0,1,0-2.029h.338V9.748a1.014,1.014,0,0,1,2.029,0v.338h.338A1.014,1.014,0,0,1,31.5,11.1Z"
            transform="translate(-11.141 -4)"
            fill="#B1B1B1"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.36"
          height="20.36"
          viewBox="0 0 20.36 20.36"
        >
          <path
            id="sparkle-bold-svgrepo-com"
            d="M27.086,14.248l-4.263-1.57-1.57-4.263a1.691,1.691,0,0,0-3.173,0l-1.571,4.263-4.263,1.57a1.691,1.691,0,0,0,0,3.173l4.263,1.571,1.57,4.263a1.691,1.691,0,0,0,3.173,0l1.57-4.263,4.263-1.57a1.691,1.691,0,0,0,0-3.173Zm-5.11,2.893a1.688,1.688,0,0,0-1,1h0l-1.307,3.548-1.307-3.548a1.688,1.688,0,0,0-1-1l-3.548-1.307,3.548-1.307a1.688,1.688,0,0,0,1-1l1.307-3.548,1.307,3.548a1.688,1.688,0,0,0,1,1l3.548,1.307Zm.058-10.1a1.014,1.014,0,0,1,1.014-1.014h1.014V5.014a1.014,1.014,0,1,1,2.029,0V6.029H27.1a1.014,1.014,0,0,1,0,2.029H26.091V9.072a1.014,1.014,0,0,1-2.029,0V8.057H23.047a1.014,1.014,0,0,1-1.014-1.014ZM31.5,11.1a1.014,1.014,0,0,1-1.014,1.014h-.338v.338a1.014,1.014,0,0,1-2.029,0v-.338h-.338a1.014,1.014,0,0,1,0-2.029h.338V9.748a1.014,1.014,0,0,1,2.029,0v.338h.338A1.014,1.014,0,0,1,31.5,11.1Z"
            transform="translate(-11.141 -4)"
            fill="#B1B1B1"></path>
        </svg>
      </div>
    </div>
    <div class="icon-holder">
      <img src="Assets/on-map.svg" alt="" />
      <img src="Assets/save.svg" alt="" />
    </div>
  </div>
</tamplate>

<style>
  #map {
    height: 100svh;
    width: 100%;
    z-index: 1;
  }

  .close-icon{
    font-size: 18pt;
    font-weight: bold;
    position: absolute;
    top: .2em;
    right:.6em;
  }
</style>

<script>
  import "leaflet/dist/leaflet.css";
  import L from "leaflet";
  import "leaflet-routing-machine";
  import { getBenchData } from "../js/main";
  import { doc } from "firebase/firestore";

  let userPos;

  document.addEventListener("astro:page-load", async () => {
    var map = L.map("map", {
      zoom: 19,
      zoomControl: false,
    });

    L.tileLayer(
      "https://api.mapbox.com/styles/v1/pauljk/ckubokgaz2lkw17t6e339dyte/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoicGF1bGprIiwiYSI6ImNrdWJvaTFtNjBzaTEybm1vNnJ1Z20wNWQifQ.rJtQ57RHiAFxjZLQ6fwGfw",
      {
        maxZoom: 21,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }
    ).addTo(map);

    const benchData = await getBenchData();
    benchData.forEach((item) => {
      var myIcon = L.icon({
        iconUrl: "/Assets/Bank-Icon.png",
        iconSize: [37, 44],
        iconAnchor: [18.5, 44],
      });

      var marker = L.marker([item.pos._lat, item.pos._long], {
        icon: myIcon,
      }).addTo(map);
      marker.on("click", function () {
        var returnValue = handleMarkerClick(item);
      });
    });

    function handleMarkerClick(markerData) {
      console.log("Marker clicked:", markerData);

      let template = document.querySelector('[map-data-card-template]');
      template.querySelector('.data-container').classList.add('data-card-map');

      let stars = template.querySelectorAll('.rating-icons')[0].children;
      let view = template.querySelectorAll('.rating-icons')[1].children;
      let clean = template.querySelectorAll('.rating-icons')[2].children;
      
      processRating(stars, markerData.evaluation.full, 'fill', 'none');
      processRating(view, markerData.evaluation.view, 'stroke', '#B1B1B1');
      processRating(clean, markerData.evaluation.clean, 'fill', '#B1B1B1');

      template.querySelector('.icon-holder').children[0].addEventListener('click', () => addRoute(markerData.pos._lat, markerData.pos._long));
      
      return markerData;
    }

    function processRating(rating, value, className, color) {

      for (let i = 0; i < rating.length; i++) {
        if(i < value){
          if(className === 'fill'){
            rating[i].children[0].style.fill = 'black';
          }else{
            rating[i].children[0].style.stroke = 'black';
          }
        }else{
          if(className === 'fill'){
            rating[i].children[0].style.fill = color;
          }else{
            rating[i].children[0].style.stroke = color;
          }
        }
      }
    }

    document.querySelector('.close-icon').addEventListener('click', () => {
      document.querySelector('[map-data-card-template]').querySelector('.data-container').classList.remove('data-card-map');
    })

    if (!navigator.geolocation) {
      console.log("Geolocation is not supported by your browser");
    } else {
      console.log("Locating…");
      navigator.geolocation.getCurrentPosition(
        getUserPosition,
        errUserPosition
      );
    }

    function setUserPosition(pos) {
      const userPos = [pos.coords.latitude, pos.coords.longitude];
      map.setView(userPos, 19);
      var myIcon = L.icon({
        iconUrl: "/Assets/User-Icon.svg",
        iconSize: [37, 44],
        iconAnchor: [18.5, 44],
      });
      L.marker(userPos, { icon: myIcon }).addTo(map);
    }

    function getUserPosition(pos) {
      setUserPosition(pos);
      console.log(pos);
      userPos = [pos.coords.latitude, pos.coords.longitude];
      return pos;
    }

    function errUserPosition(err) {
      const userPos = [53.066454217670845, 8.832499876338382];
      map.setView(userPos, 19);
    }


    function addRoute(_lat, _long){
      L.Routing.control({
        waypoints: [
          L.latLng(userPos[0], userPos[1]),
          L.latLng(_lat, _long),
          // Add more waypoints as needed
        ],
        routeWhileDragging: true,
        show: false, // Hide the route UI
        createMarker: function () {}, // Disable markers
        lineOptions: { styles: [{ color: "#BE491E", weight: 4 }] },
        instructions: "", // Hide instructions
        profile: 'foot'
      }).addTo(map);
    }
  });
</script>
