<div id="map"></div>
<button id="btn">Route</button>

<style>
  #map {
    height: 100svh;
    width: 100%;
    z-index: 1;
  }
  #btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
</style>

<script>
  import "leaflet/dist/leaflet.css";
  import L from "leaflet";
  import 'leaflet-routing-machine';
  import { getBenchData } from "../js/main";

  let userPos;

  document.addEventListener("astro:page-load", async () => {
    var map = L.map("map", {
      zoom: 19,
      zoomControl: false,
    });

    L.tileLayer(
      "https://api.mapbox.com/styles/v1/pauljk/ckubokgaz2lkw17t6e339dyte/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoicGF1bGprIiwiYSI6ImNrdWJvaTFtNjBzaTEybm1vNnJ1Z20wNWQifQ.rJtQ57RHiAFxjZLQ6fwGfw",
      {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }
    ).addTo(map);

    const benchData = await getBenchData();
    benchData.forEach((item) => {
      var myIcon = L.icon({
        iconUrl: "/Assets/Bank-Icon.png",
        iconSize: [37, 44],
        iconAnchor: [18.5, 44],
      });
      L.marker([item.pos._lat, item.pos._long], { icon: myIcon }).addTo(map);
    });

    if (!navigator.geolocation) {
      console.log("Geolocation is not supported by your browser");
    } else {
      console.log("Locating…");
      navigator.geolocation.getCurrentPosition(
        getUserPosition,
        errUserPosition
      );
    }

    function setUserPosition(pos) {
      const userPos = [pos.coords.latitude, pos.coords.longitude];
      map.setView(userPos, 19);
      var myIcon = L.icon({
        iconUrl: "/Assets/User-Icon.svg",
        iconSize: [37, 44],
        iconAnchor: [18.5, 44],
      });
      L.marker(userPos, { icon: myIcon }).addTo(map);
    }

    function getUserPosition(pos) {
      setUserPosition(pos);
      console.log(pos);
      userPos = [pos.coords.latitude, pos.coords.longitude];
      return pos;
    }

    function errUserPosition(err) {
      const userPos = [53.066454217670845, 8.832499876338382];
      map.setView(userPos, 19);
    }

    console.log(userPos);


    document.getElementById('btn').addEventListener('click', () => {
      console.log(userPos);
      L.Routing.control({
        waypoints: [
            L.latLng(userPos[0], userPos[1]),
            L.latLng(53.06686955494183, 8.837867944851569),
            // Add more waypoints as needed
        ],
        routeWhileDragging: true,
        show: false, // Hide the route UI
        createMarker: function() {}, // Disable markers
        lineOptions: {styles: [{color: '#BE491E', weight: 4}]},
        instructions: '' // Hide instructions
    }).addTo(map);
    })
  });
</script>
