---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../style/style.css';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<link rel="stylesheet" href="https://use.typekit.net/pls8uxo.css">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/Assets/Bank-Icon.png" />
		<ViewTransitions />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
